<h2><%= @cat.name %></h2>
<table>
  <tr>
    <td>Birth date : </td>
    <td><%= @cat.birth_date %></td>
  </tr>
  <tr>
    <td>Color : </td>
    <td><%= @cat.color %></td>
  </tr>
  <tr>
    <td>Sex : </td>
    <td><%= @cat.sex %></td>
  </tr>
  <tr>
    <td>Description : </td>
    <td><%= @cat.description %></td>
  </tr>
</table>

<h4>Rental Requests</h4>
<table>
  <% requests.each do |request| %>
  <tr>
    <td> <%= request.start_date %> to </td>
    <td><%= request.end_date %></td>
    <td><%= request.status %></td>
  </tr>
  <% end %>
</table>
